:root {
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

/* bg-color #ffffff */

/* body text color #434455 */

/* heading color  #2E2F42 */

/* primary brand color #4D5AE5 */

/* action color #404BBF */

/* cloud color #F4F4FD */
